# ============================================================
# PYTHON CORE
# ============================================================

__pycache__/
*.py[cod]
*$py.class
*.pyd

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# ============================================================
# VIRTUAL ENVIRONMENTS (MAI VERSIONARE)
# ============================================================

.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# ============================================================
# TESTING / COVERAGE
# ============================================================

.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.mypy_cache/

# ============================================================
# IDE / EDITOR
# ============================================================

.vscode/
.idea/
.DS_Store
Thumbs.db

# ============================================================
# VERSIONI E RELEASE 
# ============================================================
release/

# ============================================================
# LOGS & RUNTIME ARTIFACTS
# ============================================================

log/
logs/
*.log

# ============================================================
# DOCS
# ============================================================

# Ignora tutto sotto docs
docs/**

# Eccezioni
!docs/
!docs/CHANGELOG.md
!docs/ARCHITECTURE.md

!docs/requirements/
!docs/requirements/requirements.txt
!docs/requirements/requirements-cpu.txt
!docs/requirements/requirements-cuda.txt
#!docs/requirements/README.md

# ============================================================
# TEMPORARY FILES
# ============================================================

tmp/
**/tmp/
*.tmp
*.bak
*.swp

# ============================================================
# INPUT AUDIO/VIDEO
# ============================================================

input/audio/**
input/video/**

# ri-abilita la directory (necessario per poter "unignore" un file dentro)
!input/
!input/audio/
!input/video/

# eccezione: tieni il placeholder
!input/audio/.gitkeep
!input/video/.gitkeep

# ============================================================
# OUTPUT
# ============================================================

output/transcriptions/**
!output/transcriptions/
!output/transcriptions/.gitkeep

# ============================================================
# FILE DI TEST
# ============================================================

!src/tests/resources/*.wav
!tests/resources/*.wav
struttura.txt

# ============================================================
# DOCKER (li aggiungeremo dopo)
# ============================================================

# Docker override files (facoltativi)
docker-compose.override.yml